.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
h2{
  text-align: center;
}
p{
  text-align: center;
  color: #05406d
}
/*card */
.resize{

   padding: 10px;

   /* padding-bottom: 75px; */

   width:350px;

   height:300px;

   transition-duration: 0.5s;

 }
 .resize:hover {

     background-color: rgba(255,255,255,1);

     color: white;

     font-size: 25px;

     border-radius: 4px;

     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 20px 10px 50px 0 rgba(0,0,0,0.3);

}


/*Arrow*/
.slide-arrow {
	color: $theme-blue;
	cursor: pointer;
	font-size: 2rem;
	position: absolute;;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}
